@font-face {
  font-family: 'iranYekan';
  src: url('/fonts/iranYekan/IRANYekanRegular.ttf');
}

:root {
  --color-team-yellow: #a08600;
}

html {
  scroll-behavior: smooth !important;
  font-family: iranYekan;
}

.cvBtn .cvBtnAnimation {
  display: none;
  background: #a698c4c6;
  box-shadow: 0px 0px 10px 3px rgb(190, 240, 240);
}
.cvBtn:hover .cvBtnAnimation {
  display: block;
  animation: star 3.3s linear infinite;
}

img,
video {
  max-width: none;
  height: auto;
}

.threeD-carousel-button > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.threeD-carousel-button > div > img {
  height: 80px;
  width: 55px;
  cursor: pointer;
  padding: 12px;
  overflow: hidden;
}

@keyframes star {
  0% {
    left: -6px;
    top: -6px;
  }
  25% {
    left: calc(100% - 6px);
    top: -6px;
  }

  50% {
    left: calc(100% - 6px);
    top: calc(100% - 6px);
  }
  75% {
    left: -6px;
    top: calc(100% - 6px);
  }
  100% {
    left: -6px;
    top: -6px;
  }
}

/* article styles */
.post-body pre {
  background: #011627;
  border-radius: 8px;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  direction: ltr;
  overflow: auto;
}
.post-body img {
  width: auto;
  max-width: 100%;
  border-radius: 8px;
  margin: 25px auto;
  height: auto;
}
